.category-choice {
    text-align: left;
}
.skill-slider {
    width: 80% !important;
    margin-left: 10% !important;
    margin-top: 2em;
}
.PrivateValueLabel-label-180 {
    font-size: 1.5em !important;
}
.category-submit-container {
    display: flex;
}
.confirm-category, .cancel-category-update {
    margin-top: 0.5em !important;
}
.confirm-category {
    color: white !important;
    background-color: #027DEE !important;
}
.gap {
    width: 75%;
}
