@import '../../config.scss';

.navigation-bar {
    background-color: #818181 !important;
    margin: 0 auto;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.MuiBottomNavigationAction-label {
    color: white !important;
}
.navigation-icon {
    color: #F79E1B !important;
    font-size: 1.5em;
}
.Mui-selected .MuiBottomNavigationAction-wrapper .navigation-icon {
    color: white !important;
}