@import '../../config.scss';

.MuiBottomNavigation-root {
    background-color: #818181 !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 1400px;
}
.MuiBottomNavigationAction-label {
    color: white !important;
}
.navigation-icon {
    color: #F79E1B !important;
    font-size: 1.5em;
}
.Mui-selected .MuiBottomNavigationAction-wrapper .navigation-icon {
    color: white !important;
}