@import '../../config.scss';

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $gutter * 2;

    &__title {
        padding: $gutter / 4;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin-right: $gutter / 2;
    }

    &__link {
        &--selected {
            text-decoration: underline;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }
}
.header-bar {
    background-color: #027DEE !important;
    top: 0;
    width: 100%;
    max-width: 1400px;
    position: sticky !important;
}
.toolbar-bar {
    padding: 2px !important;
}
.header-flex {
    display: flex;
    width: 100%;;
}
.header-flex-1 {
    width: 20%;
}
.header-flex-2 {
    width: 60%;
    text-align: center;
}
.back-button {
    height: 100% !important;
}
.back-button-icon {
    //font-size: 2em;
    color: white !important;
}
.header-title {
    color: white !important;
}