.edit-profile-title {
    text-align: center;
}
.profile-submit-container {
    display: flex;
}
.update-profile, .cancel-profile-update {
    margin-top: 0.5em !important;
}
.update-profile {
    color: white !important;
    background-color: #027DEE !important;
}
.gap {
    width: 75%;
}