.signup {
    margin-bottom: 64px;
}
.signup-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.signup-image img {
    width: 100%;
}
.signup-title {
    text-align: center;
}
.signup-button-standard {
    color: white !important;
    margin-top: 0.5em !important;
    background-color: #818181 !important;
}
.login-link {
    justify-content: center;
}